# Rust & Cargo
/target

# Profilers
callgrind.out.*
perf.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Aria-specific
history.aria
/vscode/aria/*.vsix
.vscodeignore

# OS-specific
.DS_Store
Thumbs.db