# Rust & Cargo
/target

# Profilers
callgrind.out.*
perf.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# NPM
node_modules/

out/

# Aria-specific
history.aria
/vscode/aria/*.vsix

# OS-specific
.DS_Store
Thumbs.db

.env